@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #748198;
    --foreground: #ffffff;
    --input: #334155;
    --ring: #475569;
}

[data-theme='dark'] {
    --background: #fdfeff;
    --foreground: #ffffff;
    --input: #334155;
    --ring: #475569;
}

[data-theme='light'] {
    --background: #ffffff;
    --foreground: #1e293b;
    --input: #e2e8f0;
    --ring: #94a3b8;
}

[data-theme='blue'] {
    --background: #1e3a8a;
    --foreground: #ffffff;
    --input: #1e40af;
    --ring: #3b82f6;
}

body {
    @apply bg-background text-foreground;
}